<h1>Hi, <%= @user.username %></h1>
  <p>
    Someone requested a link to resent your password. If that was you following this link, 
    <%= "http.resapea.io/password_reset?token=#{@user.password_reset_token %>}."<br>
  </p>