<h1>Hi, <%= @user.username %></h1>
  <p>
    Someone requested a link to reset your password. If that was you following this 
    <strong><a href=<%="https://friendly-keller-cdf4af.netlify.app/password_reset/token=#{@user.reset_password_token}"%>>link</a></strong>.
    <br>
    <p>  - Resapea Support. </p>
  </p>