<h1>Hi, <%= @user.username %></h1>
  <p>
    Someone requested a link to resent your password. If that was you following this link, 
    <%= "https://friendly-keller-cdf4af.netlify.app/password_reset/token=#{@user.reset_password_token}" %><br>
  </p>