<h1>Welcome to Resapea</h1>
  <p>
    You have successfully signed up to <a href="https://www.resapea.io">Resapea</a>,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day</p>